# SPDX-FileCopyrightText: 2021 Bluesy1 <68259537+Bluesy1@users.noreply.github.com>
# SPDX-License-Identifier: MIT
/backup/
/.vscode/
/.idea
/.fleet
/virtual-enviornment
*.pyc
*.zip
*.log*
*.env*
ubcobot/UBCbot.json
charbot/mod_support_blacklist.json
charbot/sensitive_settings.json
giveaway.csv
/charbot/media/pools/Discord-pool-bg-01.jpg
.coverage
/charbot.egg-info
/config.toml
/charbot/giveaway.json
/charbot.service
/coverage/reports/coverage.xml
/.venv/
