/backup/
/.vscode/
/.idea
/virtual-enviornment
*.pyc
*.zip
*.log*
*.env*
ubcobot/UBCbot.json
charbot/mod_support_blacklist.json
charbot/sensitive_settings.json
giveaway.csv
/charbot/media/pools/Discord-pool-bg-01.jpg
.coverage
/charbot.egg-info
/config.toml
