aiohttp[speedups] == 3.8.1
asyncpg == 0.26.0
discord.py[speed] @ git+https://github.com/Rapptz/discord.py@cc0c261925829a03c269b0b1058942a8cd750298#egg=discord.py
disrank == 0.0.2
jishaku==2.5.1
matplotlib == 3.5.2
numpy==1.23.1
orjson == 3.7.11
pandas == 1.4.3
Pillow == 9.2.0
scipy==1.9.0
sentry-sdk==1.9.2
tomli == 2.0.1
typing-extensions == 4.3.0
uvloop == 0.16.0
validators == 0.20.0
yfinance == 0.1.74
