APScheduler>=3.8.1
asyncpg>=0.25.0
cryptography>=36.0.1
disrank>=0.0.2
fpdf>=1.7.2
hikari[server,speedups]>=2.0.0.dev106
hikari-lightbulb==2.2.0
lightbulb-ext-filament>=0.1.2
matplotlib>=3.5.1
numpy>=1.22.2
pandas>=1.4.0
pytz>=2021.3
scipy==1.8.0
uvloop>=0.16.0
yfinance>=0.1.70
