name: CI

on:
  push:
    branches:
      - main
    paths:
    - 'charbot/**'
    - 'tests/**'
    - 'src/**'
    - 'Cargo.*'
    - 'pyproject.toml'
    - '.github/workflows/ci.yml'
  pull_request:
    types: [ opened, reopened, synchronize ]
    paths:
    - 'charbot/**'
    - 'tests/**'
    - 'src/**'
    - 'Cargo.*'
    - 'pyproject.toml'
    - '.github/workflows/ci.yml'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Dependencies
        run: |
          pip install ruff -c ruff-requirements.txt
      - name: Run Ruff Check
        env:
          RUFF_OUTPUT_FORMAT: github
        run: ruff check .
      - name: Run Ruff Format
        if: ${{ success() || failure()}}
        run: ruff format --check .
  python-tests:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.13" ]
    steps:
      - uses: actions/checkout@v6
      - uses: harmon758/postgresql-action@v1
        with:
          postgresql version: '14'
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
          cache-dependency-path: pyproject.toml
      - name: Install
        run: pip install -e ".[dev]"
      - name: Run pytest
        id: pytest
        run: pytest
      - name: Run Pyright
        if: ${{ success() || failure() }}
        uses: jakebailey/pyright-action@v2
        with:
          warnings: false
          annotate: ${{ matrix.python-version != '3.13' && 'none' || 'all' }}
          version: 1.1.400 # Optional
